
/** Add css rules here for your application. */

@charset "utf-8";

/******************** fonts ********************/

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.serverResponseLabelError {
	color: red;
}	

/***********************************************************
*                 GWT Application Elements
***********************************************************/


/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}


/******************** Buttons ********************/
.closedatabasebutton{
	background: white;
	border: none;
	text-shadow: none;
}

.logoutbutton{
	background: white;
	border: none;
	text-shadow: none;
}

