<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
	
<web-app>


    <!-- Servlets -->
  <servlet>
    <servlet-name>GreetingServiceImpl</servlet-name>
    <servlet-class>com.test.morphia.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GreetingServiceImpl</servlet-name>
    <url-pattern>/gwt_appnavigation/greet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>facturacion.html</welcome-file>
  </welcome-file-list>

</web-app>
